#compdef _{{ tool.basecommand }} {{ tool.basecommand }}

_{{ tool.basecommand }} () {
    local args
    args+=(
        {% for arg in args %}
        '{%
            if arg.type == 'bool' %}({{
                arg.option_string }}){%
            endif %}{{
            arg.option_string }}{% 
            if arg.separate == False
                %}-{%
            endif %}[{{ arg.help }}]{%
            if arg.type != 'bool' %}:{{
                arg.type }}:{% 
                if arg.type == 'enum' %}{{
                    arg.choices }}{%
                endif %}{%
                if arg.type == 'file' %}_files{%
                endif %}{%
            endif
            %}'
        {% endfor %}
    )
    _arguments $args[@]
}

_{{ tool.basecommand }}
